html {
    scroll-behavior: smooth;
}

*{
    transition: all 0.32s ease;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
}

header{
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    color: red;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}
.wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}
.wrapper section .item {
    position: relative;
    padding: 0 2px;
    transition: 250ms all;
}
.wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
}
.wrapper section .item .heading {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
}
.wrapper section .item .duration {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: #fff;
}


.fav{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.click {
    font-size: 33px;
    color: rgba(0, 0, 0, 0.5);
    width: 38px;
    height: 38px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
}

.click span {
    margin-left: 4px;
    margin-top: 3px;
    z-index: 999;
    position: absolute;
}

span:hover {
    opacity: 0.8;
}

span:active {
    transform: scale(0.93, 0.93) translateY(2px);
}

.ring,
.ring2 {
    opacity: 0;
    background: grey;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 19px;
    left: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.active span,
.active-2 span {
    color: #f5cc27 !important;
}

.active-2 .ring {
    width: 58px !important;
    height: 58px !important;
    top: -10px !important;
    left: -10px !important;
    position: absolute;
    border-radius: 50%;
    opacity: 1 !important;
}

.active-2 .ring {
    background: #f5cc27 !important;
}

.active-2 .ring2 {
    background: #fff !important;
}

.active-3 .ring2 {
    width: 60px !important;
    height: 60px !important;
    top: -11px !important;
    left: -11px !important;
    position: absolute;
    border-radius: 50%;
    opacity: 1 !important;
}

.info {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    color: grey;
    position: relative;
    top: 30px;
    left: -46px;
    opacity: 0;
    transition: all 0.3s ease;
}

.info-tog {
    color: #f5cc27;
    position: relative;
    top: 45px;
    opacity: 1;
}







.wrapper section .arrow__btn {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: black;
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}
.wrapper section .left-arrow {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.wrapper section .right-arrow {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

