html {
    scroll-behavior: smooth;
}

*{
    transition: all 0.32s ease;
}

body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #141414;
}
.logo{
    width: 100%;
}
nav {
    background-color: #141414;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

nav ul {
    list-style-type: none;
}

nav li {
    margin-left: 0;
}





@media all and (max-width : 980px) {
    nav {
        position: static;
    }

    nav li {
        float: none;
    }

    nav ul {
        width: 100%;
    }

}


h1 {
    color: red;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}
.wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(60, auto);
    margin: 20px 0;
}
.wrapper section .item {
    position: relative;
    padding: 0 2px;
    width: 444px;
    height:286.72px;
    margin: 0 2px;
    transition: 250ms all;
}
.wrapper section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
}
.wrapper section .item .heading {
    position: absolute;
    bottom: 20%;
    left: 20px;
    color: #fff;
}
.wrapper section .item .duration {
    position: absolute;
    bottom: 0;
    left: 20px;
    color: #fff;
}



.wrapper section .arrow__btn {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: #141414;
    width: 80px;
    height: 220px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}
.wrapper section .left-arrow {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.wrapper section .right-arrow {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}



.like,button {
    margin-top: 2%;
    border: #141414;
    background-color: #141414;
}
