*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup {
    z-index: 1;
    width: 400px;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    background-color: #343333;
    color: white;
    visibility: hidden;
    transition: transform 0.4s,top 0.4s;
}
.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    animation: open-popup 0.5s normal;
}
.rating {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 0;
}


.note {
    height: 40px;
    margin-bottom: 2%;
}

.note:not(:checked) > input {
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    top:-9999px;
}
.note:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color: #464545;
}
.note:not(:checked) > label:before {
    content: '★ ';
}
.note > input:checked ~ label {
    color: #940108;
}
.note:not(:checked) > label:hover,
.note:not(:checked) > label:hover ~ label {
    color: #940108;
}
.note > input:checked + label:hover,
.note > input:checked + label:hover ~ label,
.note > input:checked ~ label:hover,
.note > input:checked ~ label:hover ~ label,
.note > label:hover ~ input:checked ~ label {
    color: #940108;
}

.avis{
    margin-left: auto;
    margin-right: auto;
}

.commentaire{
    background-color: #dddddd;
    color: #666666;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 250px;
    height: 100px;
    transition: all 0.2s;
    resize: none;

}

.btnE{
    margin-top: 2%;
}

.commentaire:hover{
    cursor: pointer;
    background-color: #eeeeee;
}

.commentaire:focus{
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
}

/* pour fix l eartement du petit texte */
p {
    margin-left: 2%;
}
