html {
    background-color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}
body {
    margin: 0;
    background-color: #333333;;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    width: 68%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;


}

img {
    border-radius: 10px;
    width: 100%;
    height: 100%;

}

.img-gradient {
    max-width: 100%;
    margin: auto;
}

.img-gradient::after {
    display: block;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #333333 100%);
    margin-top: -400px;
    height: 100px;
    width: 100%;
    content: '';
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.zobard2000 {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #262626;
}

.zobard2000 a {
    color: #fff;
}

h1 {
    background-color: #333333;
    position: absolute;
    /*make the body stack on the image */
    top: 45%;
    background-color: rgba(0, 0, 0, 0);
    padding-left: 20px;
    color: #fff;
    font-size: 60px;
    text-shadow: 0 0 10px #000;
}

.container {
    background-color: #333333;
    position: absolute;
    border-radius: 0px 0px 5px 5px;

    width: 68%;
    /*make the body stack on the image */
    display: flex;
    flex-direction: column;
    align-content: baseline;
    /* center the height of the items*/
    justify-content: center;
}

.episodes {
    text-decoration: none;

    allign-items: baseline;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    /* make the text white */
    margin-top: 0%;
    margin-right: 2%;
    margin-left: 2%;
}

button {
    cursor: pointer;
    min-width: 100%;
    min-height: 100%;
    border-radius: 5px;
    padding: 2px;
    font-size: 40px;
    background-color: #3b3b3b;
    color: #fff;
    border: none;
    display : flex;
    flex-direction: row;

}

.intButton  {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h3 {
    text-decoration: none;
    padding: 20px
}
button p {
    padding: 5px;
    position: absolute;
    margin-left: max(80%, 10px);
    justify-content: flex-end;
    width: max-content;
    font-size: 40px;
    color: #fff;
    /*fix to the right*/


}







